# HERE ARE THE KEY TO IGNORE FILES OR SPECIFIC PATHS.
#
# Files in ANY path: 
#   *.ext
# Root Folders: 
#   node_modules/
# Folder or File with the same pre-name: 
#   wp-content/plugins/learnpress*/
# Ignore everything in a path except:
#   wp-content/*
#   !wp-content/plugins/
#   !wp-content/themes/sample-theme/
#

*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

#files new uploads
files/general/*
files/products_images/*
files/profile_images/*
files/project_files/*
files/system/*
!files/system/default-invoice-logo.png
!files/system/default-stie-logo.png
!files/system/import-clients-sample.xlsx
!files/system/import-leads-sample.xlsx
!files/system/notification.mp3
!files/system/sigin-background-image.jpg

files/temp/*
files/timeline_files/*

#PRE-INSTALLATION
#application/config/config.php
#application/config/database.php
#index.php

.env.production.php
.env.development.php
.vscode/settings.json
temp/*